<div class="container color-dark">
    <div class="col">
        <p>add a bucket list item</p>
    </div>
    <div class="col">
        <p>Your Bucketlist</p>
    </div>
</div>
<div class="container color-light">
    <div class="col">
        <p class="sm">use this this form below to add a bucket list goal. what do you want to do with your life.</p>

        <form action="">
            <input type="text" class="txt" name="item" placeholder="dess munyi.." id="">
            <input type="submit" class="btn" value="add item">
        </form>
    </div>
    <div class="col">
        <p class="life-container">I want to study in australia</p>
    </div>
</div>